fastapi
uvicorn
pymongo
motor
python-dotenv
pydantic
pydantic-settings
openai
faiss-cpu
numpy
tiktoken
PyMuPDF
python-multipart
pytest
pytest-asyncio
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0