fastapi
uvicorn
pymongo
motor
python-dotenv
pydantic
pydantic-settings
openai
faiss-cpu
numpy<2.0.0
tiktoken
PyMuPDF
python-multipart
pytest
pytest-asyncio
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
sentence-transformers==2.5.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1